<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="keystrokes_overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <keystrokes_overlay.Properties.Settings>
            <setting name="AllowedKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="btnArrowColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="btnTextColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="btnOutlineColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="nudOutlineThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="durationTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="fadeDuration" serializeAs="String">
                <value>0</value>
            </setting>
        </keystrokes_overlay.Properties.Settings>
    </userSettings>
</configuration>